 <div class="auth-main">
     <div class="auth-block">
         <!-- Empieza modal recuperacion -->
         <div id="modalRecuperacion" class="wrapper fadeInDown modal" tabindex="-1" aria-hidden="true">
             <div class="modal-dialog  modal-dialog-centered" role="document">
                 <div id="formContent" class="modal-content">
                     <div class="modal-header fadeIn first">
                         <img class="centrar" src="assets/images/logoempro.svg" style="width: 50%; margin: auto;" />
                     </div>
                     <div class="modal-body" style="margin-top: 4vh;">
                         <h5 class="text-center espa" style="padding-left: 15%; padding-right: 15%; padding-bottom: 20px;">Restablecer contraseña</h5>
                         <form [formGroup]="formRec" (ngSubmit)="restoredPassword()" style="padding-left: 15%; padding-right: 15%;">
                             <div class="input-group" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}"><span class="input-group-addon"><i class="fa fa-key fa-2x"></i></span>
                                 <input [formControl]="password" type="password" class="form-control" placeholder="Nueva contraseña" required>
                             </div>
                             <div class="input-group" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}"><span class="input-group-addon"><i class="fa fa-key fa-2x"></i></span>
                                 <input [formControl]="repeatPassword" type="password" class="form-control" placeholder="Confirmar contraseña" required>
                             </div>
                             <div style="padding-right: 15%; padding-left: 15%; margin: 25px;">
                                 <button style="width: 100%;" type="submit" class="btn-lg btn-primary btn-auth" translate [disabled]="!formRec.valid">Guardar</button>
                             </div>
                             <div class="alert alert-danger text-center centro4" *ngIf="msjError" role="alert">
                                 <button type="button" class="close" (click)="closealert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <strong>{{msjError}}</strong>
                             </div>

                             <div *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">
                                 <div class="alert alert-danger text-center centro4" role="alert">
                                     <button type="button" class="close" (click)="closealert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <strong>Las contraseñas no coinciden</strong>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Acaba modal recuperacion -->
     </div>
 </div>
