<div class="backgroundcontent">
    <img class="centrar" src="assets/images/Img-home-EMPRO-software-contable.jpg" />
</div>
<div>
    <img class="logo" src="assets/images/logotipo_bn.png">
</div>
<div class="button espacio">
    <button type="button" class="btn-lg btn-info float-right esp" data-toggle="modal" data-target="#myModal" (click)="onAbrirModal()" translate> INGRESA </button>
    <button type="button" class="btn-lg btn-primary float-right" data-toggle="modal" data-target="#registroModal" (click)="onAbrirModal()" translate> REGÍSTRATE </button>
</div>
<div class="auth-main">
    <div class="auth-block">

        <!-- Empieza modal login -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="tab-content tab-sliding" data-swipe="right">
                    <div id="modal-tab-login" class="tab-pane active show">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="text-center espa">Inicio de sesión</h1>
                                <button type="button" class="close color" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal centro1">
                                    <div class="form-group row col-md-10" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope fa-2x"></i></span>
                                            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
                                        </div>
                                    </div>

                                    <div class="form-group row col-md-10" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key fa-2x"></i></span>
                                            <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="{{'login.password' | translate}}">
                                        </div>
                                    </div>

                                    <div class="form-group row col-md-10">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="centro2">
                                                <button [disabled]="!form.valid" type="submit" class="btn-lg btn-primary btn-auth" data-dismiss="myModal" translate>{{'login.sign_in'}}</button>
                                            </div>
                                            <div class="centro3">
                                                <a href="#" data-toggle="tab" data-target="#modal-tab-recovery" class="toggletab" id="forgotbutton">¿Olvidaste la contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger text-center centro4" *ngIf="mensajeError" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{mensajeError}}</strong>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    <div id="modal-tab-recovery" class="tab-pane" data-swipe-prev="#modal-tab-login">
                        <div class="modal-content">
                            <div class="position-tl ml-3 mt-3 mt-lg-0">
                                <a href="#" class="btn toggletab" data-toggle="tab" data-target="#modal-tab-login"><i class="fa fa-arrow-left"></i></a>
                            </div>
                            <div class="modal-header" style="background-color: white; align-items: baseline;">
                                <img class="centrar" src="assets/images/logoempro.svg" style="width: 50%; margin: auto;" />
                            </div>
                            <div class="modal-body" style="margin-top: 27px;display: flex;flex-direction: column;">
                                <h5 class="text-center espa" style="padding-left: 15%; padding-right: 15%; padding-bottom: 20px;">Para restablecer tu contraseña te enviaremos un link, por favor ingresa tu correo:</h5>
                                <form [formGroup]="formRec" (ngSubmit)="restoredPassword()" style="padding-left: 15%; padding-right: 15%;">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope fa-2x"></i></span>
                                        <input [formControl]="emailRec" type="email" class="form-control" id="emailRecuperacion" placeholder="Correo electrónico">
                                    </div>
                                    <div style="padding-right: 15%; padding-left: 15%; margin: 25px;">
                                        <button style="width: 100%;" type="submit" class="btn-lg btn-primary btn-auth" data-dismiss="modalRecuperacion" translate>Enviar Correo</button>
                                    </div>
                                    <div class="alert alert-danger text-center centro4" style="margin: auto;" *ngIf="msjError" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{msjError}}</strong>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Acaba modal login -->
        <!-- Empieza modal recuperacion -->
        <!-- Acaba modal recuperacion -->
        <!-- Empieza modal register -->
        <register></register>
        <!-- Acaba modal register -->
    </div>
</div>
