.modal {
    padding-top: 5%;
    .modal-content {
      color: #7d7d7d;
  
      .modal-header {
          background-color: #004E83;
          color: white;
        border: none;
      }
  
      .modal-footer {
        border: none;
      }
  
      .close {
        outline: none;
      }
    }
  }
.esp{
padding-top: 1%;
padding-bottom: 1%;
}
  .vr
  {
    display:inline;
    height:100%;
    width:1px;
    border:1px inset;
    margin:50%;
    font-size: 5px;
  }
  .padre {
    display: flex;

  }
  .hijo {
    padding: 10px;
    margin: 10px;
  }
  
  .espacio{
      margin-left: 9%;
  }
      .centro{
        padding-left: 25%;
        padding-bottom: 30%;
      }
      .top{
        padding-top: 20px;
      }
      .espa{
        margin-left: 4%;
      }
      .menos{
        margin-left: -2%
      }
      .color{
        color: white;
      }
      .alert {
        text-align: center;
        width:40%;    
        margin-left: 25%;
     }
    /*#inputRfc3{
      border: 1px solid #ed7878;
    }
    #inputRfc3.ok{
      border-color: #42A948;
    }*/