<div class="row">
    <div class="col-12">
        <h1 class="titlletext">
            <i class="fa fa-cog iconEngrane"></i> Clientes</h1>
    </div>
    <div class="col-12">
        <div class="button">
            <button class="btn btn-colorblue btn-raised esp font" (click)="prepareAdd()" data-toggle="modal" data-target="#Clientes">
                <i class="fa fa-plus"></i> Agregar Clientes</button>


            <div class="dropdown righta">
                <button class="btn btn-option btn-raised font dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i> Opciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="exportarExcel()">Exportar<br>Clientes</a>
                </div>
            </div>


        </div>
    </div>
</div>


<br>
<br>
<hr>
<!--///////////////////////////////////////////////////-->
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped table-vcenter table-bordered tableDatosGenerales">
            <thead class="">
                <tr>
                    <td colspan="8">
                        <div class="top_table row padSearch">
                            <div class="col-xs-8 col-sm-8 col-md-4">
                                <form [formGroup]="formularioFilterQuery" novalidate>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <input type="search" class="form-control" placeholder="Buscar en esta lista..." formControlName="queryCliente">
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 offset-md-4">
                                <div class="float-right">
                                    <select name="usuarios_data_length" class="form-control" [(ngModel)]="rowsOnPage" (change)="onChangeSize()">
                                        <!--<option [value]="2">2</option>-->
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
                <tr class="bor_inf">
                    <th>
                        <sorter-table by='id' [currentSort]="sortBy" (onSort)="onSort($event)">ID</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='nombre' [currentSort]="sortBy" (onSort)="onSort($event)">Nombre</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='tipoCliente' [currentSort]="sortBy" (onSort)="onSort($event)">Tipo de cliente</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='rfc' [currentSort]="sortBy" (onSort)="onSort($event)">RFC</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='correo' [currentSort]="sortBy" (onSort)="onSort($event)">Correo</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='calle' [currentSort]="sortBy" (onSort)="onSort($event)">Direccion</sorter-table>
                    </th>
                    <th>
                        <sorter-table by='sucursal' [currentSort]="sortBy" (onSort)="onSort($event)">Sucursales</sorter-table>
                    </th>

                    <th style="min-width: 100px">Acciones</th>
                </tr>
            </thead>
            <tbody class="tableDatosGenerales">
                <tr class="bor" *ngFor="let item of data |paginate: { itemsPerPage: rowsOnPage, currentPage: page, totalItems: totalCliente }">

                    <td scope="row">{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td *ngIf="item.tipoCliente == 1">Nacional</td>
                    <td *ngIf="item.tipoCliente == 2">Extranjero</td>
                    <td>{{item.rfc}}</td>
                    <td>{{item.correo}}</td>
                    <td>{{item.calle}} </td>
                    <!--Direccion-->
                    <td>{{item.sucursal.nombre}}</td>
                    <td class="text-center">

                        <button type="button" (click)="prepareEdit(item)" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#Clientes">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" (click)="onClick_elim(item)" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminar">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <!--Init Paginacion-->
                        <nav aria-label="Page navigation example">
                            <pagination-template #p="paginationApi" (pageChange)="pageChanged($event)">
                                <ul class="pagination float-left padNum">
                                    <li class="page-item">
                                        <span> 1 - </span>
                                        <span> {{rowsOnPage}} </span>
                                        <span> de </span>
                                        <span> {{totalCliente}} </span>
                                    </li>
                                </ul>
                                <ul class="pagination float-right">

                                    <li class="page-item" [class.active]="p.isFirstPage()">
                                        <a class="page-link  boton espa" *ngIf="!p.isFirstPage()" (click)="p.previous()" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                        <a class="page-link redonditos boton espa" (click)="p.setCurrent(page.value)"> {{ page.label }}</a>
                                    </li>

                                    <li class="page-item" [class.active]="p.isLastPage()">
                                        <a class="page-link  boton espa" *ngIf="!p.isLastPage()" (click)="p.next()" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                </ul>
                            </pagination-template>
                        </nav>
                        <!--Fin Paginacion-->
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="clearfix"></div>
</div>


<!--Fin tabla-->

<!--MODAL AGREGAR/EDITAR-->
<div class="modal fade" id="Clientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">{{!isEdit?'Agregar Cliente':'Editar Cliente'}}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form [formGroup]="formularioClientes" (ngSubmit)="onSubmitClientes()" novalidate>
                <div class="modal-body">
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Nombre
                                <font color="red">*</font>
                                <input type="text" formControlName="nombre" class="form-control" id="nombre" required>
                                <div *ngIf="formularioClientes.controls.nombre.errors?.required && !formularioClientes.controls.nombre.pristine" class="alert alert-danger">
                                    Nombre es requerido
                                </div>
                            </div>
                        </dt>

                        <dt class="col-sm-12">
                            <div class="form-group">
                                Correo
                                <font color="red">*</font>
                                <input type="email" formControlName="correo" class="form-control" id="correo" required>
                                <div *ngIf="formularioClientes.controls.correo.errors?.required && !formularioClientes.controls.correo.pristine" class="alert alert-danger">
                                    Correo es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Tipo de cliente
                                <font color="red">*</font>

                                <select formControlName="t_cliente" class="form-control" id="t_cliente" required>
                                    <option [ngValue]=null disabled>{{'general.selectOption'|translate}}</option>
                                    <option [ngValue]="1">NACIONAL</option>
                                    <option [ngValue]="2">EXTRANJERO</option>
                                </select>
                                <!-- <input type="text" formControlName="t_cliente" class="form-control" id="t_cliente" required> -->
                                <div *ngIf="formularioClientes.controls.t_cliente.errors?.required && !formularioClientes.controls.t_cliente.pristine" class="alert alert-danger">
                                    Tipo de cliente es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                RFC
                                <font color="red">*</font>
                                <!--<input type="text" formControlName="rfc" class="form-control" minlength="12" maxlength="13" id="rfc" required>-->
                                <input type="text" formControlName="rfc" class="form-control" id="rfc" minlength="10" maxlength="13" required (keyup)="onKey($event)" onkeyup="this.value=this.value.toUpperCase();">
                                <div *ngIf="formularioClientes.controls.rfc.errors?.required && !formularioClientes.controls.rfc.pristine" class="alert alert-danger">
                                    RFC es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Sucursal
                                <!-- <font color="red">*</font> -->
                                <!-- <input type="text" formControlName="sucursal" class="form-control" id="sucursal"> -->
                                <autocomplete-generic entidad='sucursal' (onIdSelected)="onIdSucursalSelected($event)" [enabled]="true" textplaceholder='Buscar Sucursal' #autocompleteSucursalService required></autocomplete-generic>
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Calle
                                <input type="text" formControlName="calle" class="form-control" id="calle">
                                <div *ngIf="formularioClientes.controls.calle.errors?.required && !formularioClientes.controls.calle.pristine" class="alert alert-danger">
                                    Calle es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Núm. exterior
                                <input type="text" formControlName="n_exterior" class="form-control" id="n_exterior">
                                <div *ngIf="formularioClientes.controls.n_exterior.errors?.required && !formularioClientes.controls.n_exterior.pristine" class="alert alert-danger">
                                    Número Exterior es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Núm. interiror

                                <input type="text" formControlName="n_interior" class="form-control" id="n_interiror">
                            </div>
                        </dt>


                        <dt class="col-sm-6">
                            <div class="form-group">
                                Código Postal
                                <!-- <input type="text" formControlName="lugarExpedicion" class="form-control" id="lugarExpedicion"> -->
                                <autocomplete-generic entidad='codigopostal' (onIdSelected)="onCodigoPostalSelected($event)" [enabled]="true" textplaceholder='Buscar codigo Postal' #autocompleteCodigoPostal required></autocomplete-generic>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Colonia
                                <!-- <label for="colonia" translate>{{'empresa.colonia'}}</label> -->
                                <select formControlName="colonia" class="form-control" id="colonia">
                                    <option [ngValue]=null disabled>{{'general.selectOption'|translate}}</option>
                                    <option *ngFor="let colonia of colonias" [ngValue]="colonia">{{colonia}}</option>
                                </select>
                                <div *ngIf="formularioClientes.controls.colonia.errors?.required && !formularioClientes.controls.colonia.pristine" class="alert alert-danger">
                                    Colonia es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Localidad
                                <input type="text" formControlName="localidad" class="form-control" id="localidad">
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Delegación o municipio
                                <input type="text" formControlName="municipio" class="form-control" id="municipio" disabled>
                                <div *ngIf="formularioClientes.controls.municipio.errors?.required && !formularioClientes.controls.municipio.pristine" class="alert alert-danger">
                                    Delegación o municipio es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                Estado
                                <input type="text" formControlName="estado" class="form-control" id="estado" disabled>
                                <div *ngIf="formularioClientes.controls.estado.errors?.required && !formularioClientes.controls.estado.pristine" class="alert alert-danger">
                                    Estado es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-6">
                            <div class="form-group">
                                País
                                <input type="text" formControlName="pais" class="form-control" id="pais">
                                <div *ngIf="formularioClientes.controls.pais.errors?.required && !formularioClientes.controls.pais.pristine" class="alert alert-danger">
                                    País es requerido
                                </div>
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Mails CCP (separados por comas)
                                <input type="text" formControlName="mails_ccp" class="form-control" id="mails_ccp">
                            </div>
                        </dt>
                        <dt class="col-sm-12">
                            <div class="form-group">
                                Comentarios
                                <input type="text" formControlName="comentarios" class="form-control" id="comnentarios">
                            </div>
                        </dt>

                    </dl>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-option" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-colorblue" [disabled]="!formularioClientes.valid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal_eliminar -->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Borrar cliente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de querer borrar el cliente {{entidad_elimar?.nombre}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-option" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="remove_cliente(entidad_elimar?.id)" class="btn btn-colorblue">Borrar</button>
            </div>
        </div>
    </div>
</div>
